@media screen and (max-width: 692px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 62.5%;
    }
    .main-header{
        margin-top: 20px;
        text-align: center;
    }
    .main-header h2{
        font-size: 3.4rem;
        color: rgb(27, 27, 180);
    }
    .main-header p{
        font-size: 2.0rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .main-container{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main-container-1{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main-container-1 h2{
        font-size: 2.5rem;
        color: rgb(16, 150, 16);
    }
    .main-container-1 p{
        font-size: 2.0rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .main-container-2{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main-container-2 h2{
        font-size: 2.5rem;
        color: rgb(34, 16, 150);
    }
    .main-container-2 p{
        font-size: 2.0rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .main-container-3{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main-container-3 h2{
        font-size: 2.5rem;
        color: rgb(255, 225, 0);
    }
    .main-container-3 p{
        font-size: 2.0rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .main-container-img img{
        width: 500px;
        height: 300px;
    }
  }